# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.py,cover

# Environment
.env
.venv
google.env
env.bak
venv.bak

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/
*.so
*.egg
